<div class="container pt-4">
  <div class="row">
    <div class="col-sm">
      <h2>Tickets</h2>
    </div>
  </div>
  
  <div class="row pt-4">
    <div class="col-sm">
      <form class="form-inline" (ngSubmit)="onSubmit(name)" #form="ngForm">
        <div class="form-group mb-2">
          <label for="description">Ticket Name:</label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <input id="description" type="text" #name/>
        </div>
        <button class="btn btn-success mb-2" type="submit">
          Add Ticket
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm dropdown-divider" style="border-top-width:3px;"></div>
  </div>
  
  <div class="row" *ngIf="ticketsObs|async as tickets ;else loading">
    <div class="col">
      <app-support-ticket 
      *ngFor="let t of tickets"
      [ticket] = "t"></app-support-ticket>
    </div>
  </div>
</div>


<ng-template  #loading>
  <div class="pl-4">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading Tickets...</span>
    </div>
  </div>
</ng-template>

